<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2021-2022 James Gisele. Portfolio Project from <a class="text text-muted" href="https://www.udemy.com/course/the-web-developer-bootcamp/">Colt Steele's Web Developer Bootcamp.</a></span>
    </div>
</footer>